@media(max-width:600px){
    body{
        display: flex;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .25fr 5fr .25fr;
    width: 100vw;
    height: 100vh;
    background-color: #faf4ed;
}


div{
    grid-column: 2;
}
.createnotebutton{
    background-color: #d7827e;
    border-radius: 40px;
}


div.slide{
    grid-column: 2;
}
.slidemenu{
    background-color: #d7827e;
    border-radius: 40px;
}


header{
    grid-column: 2;
    display: flex;
    justify-content: flex-end;

}
ul{
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
li:hover{
    background-color: powderblue;
}
li:visited{
    color: purple;
}


footer{
    grid-row: 3;
    grid-column: 1/-1;
    background-color: #ea9a97;
    color: #232136;
    text-align: center;
}


/* Start of changes from index to note */

div.slideopen{
    grid-column: 2;
}
.slidemenuopen{
    background-color: #d7827e;
    border-radius: 40px;
}


section{
    background: #f2e9de;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-right: 30px;  
}
ul.notes{
    display: inline-block;
}
.notes > li {
    margin-top: 10px;
}


label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    grid-row: 3;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}


.savedel{
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    grid-column: 3;
    grid-row: 3;
}

.savedel > ul {
    display: inline-block;
    margin-top: 2cm;
    padding-left: 0cm;
    font-size: 6mm;
}

