

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .25fr 5fr .25fr;
    width: 100vw;
    height: 100vh;
    background-color: #faf4ed;
    
}


div{
    grid-column: 2;
}
.createnotebutton{
    background-color: #d7827e;
    border-radius: 40px;
}


div.slide{
    grid-column: 2;
}
.slidemenu{
    background-color: #d7827e;
    border-radius: 40px;
}


header{
    background-color: #f2e9de;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;

}
ul{
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
li:hover{
    background-color: powderblue;
}
li:visited{
    color: purple;
}


footer{
    grid-row: -1;
    grid-column: 1/-1;
    background-color: #ea9a97;
    color: #232136;
    text-align: center;
}


/* Start of changes from index to note */

.dark{
    background-color: #6e6a86;
}

.lightordark{
    grid-row: 2;
    grid-column: 3;
    
}

.buttstyle{
    margin: 10px 2px;
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #191724;
    border-radius: 10px;
    background-color: #d7827e;
    font-style: italic;
}


div.slideopen{
    grid-column: 2;
}
.slidemenuopen{
    background-color: #d7827e;
    border-radius: 40px;
}

.orgenmancer{
    grid-row: 2/3;
    grid-column: 2/3;
}


section{
    background: #f2e9de;
    grid-column: 1;
    grid-row: 2/4;
    text-align: center;
}
ul.notes{
    display: inline-block;
}


label,
textarea {
    font-size: 16px;
    letter-spacing: 1px;
    grid-row: 3;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: #e0def4;
}

label {
    display: block;

}


@media(max-width:600px){
    body{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: .25fr 5fr .25fr;
    }
    section{
        grid-column: 2;
        grid-row: 3;
    }
    
}

